{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-6">
        {{product_detail.name}}<br>
        {{product_detail.description}}<br>
        Price: {{product_detail.price}}<br>
        {% if product_detail.image%}
        <img src="{{product_detail.image.url}}" class="image-fluid">
    </div>
    <form action="{% url 'cart_home' %}">
    <div class="col-12 col-md-6">
        <button class="btn btn-success">Add To Cart</button>
    </div>
    </form>

</div>
{% endif %}
{% endblock %}